*{
    box-sizing: border-box;
}
body{
   background: rgb(97, 175, 201);
    margin: 0px;
    font-family: sans-seri;
}
.imagen{
    width: 280px;
    margin-left: 28%;
   height: 210px;
   
}
div{
    background: rgb(59, 59, 243);
    width: 100%;
    height: 210px;
    
}

.formulario{
    width: 700px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 40px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
    background: #a0f0e9;
    color: rgb(85, 85, 88);
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
i{
    position: relative;
    margin: 10px;
    left: -13px;
    top: auto;

    
}

h1 {
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0.9);
}

h1 span{
    color: #1c1b1f;
}
h1 strong{
    font-weight: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.input, .label, .submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
}
.input{
    padding: 20px;
    background: rgba(0,0,0,0.1);;
    border: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 40px;
}
.inptut:focus {
    outline: 1px solid rgba(0, 0, 0, 0.7);
}
.input:focus + .label{
    margin-top: -130px;
}
.label{
    padding-left: 15px;
    position: absolute ;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0,0,0,0.5);
    transition: all 0.2s;
    
}

.fijar{
    margin-top: -135px;
}
/*botones */
.submit, .reset {
	width: 44%;
	border-bottom: none;
	background-color: #7c7a7a;
	color: rgb(0, 0, 0);
	position: relative;	
	font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    
}

.reset {
    position: relative;
    height: 55px;
    left: 340px;
    top: -75px;
	background-color: #0659c5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color:rgb(0, 0, 0);
}

.submit:hover {
	background-color: #4C9ED9;
}

.reset:hover{
	background-color: #4C9ED9;
}
.input label{
	font-size: 16px;
    color: #001F3F;
    margin-bottom: 20px;
    margin-left: 20px;
}
 

p{
    font-size: 60%;
    color: rgb(15, 12, 20);
    
}

.submit, .reset{
	background-color: #44d9e4;
	padding: .3rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #38bbdb .2rem;
	transition: all .5s;
}
.fa-calendar-alt{
position: relative;
top: -15px;
left: 3px;
font-size: 29px;
}
.fa-envelope{
    position: relative;
    top: -15px;
    left: 3px;
    font-size: 29px;
}
.fa-phone-square-alt{
    position: relative;
    top: -15px;
    left: 3px;
    font-size: 29px;
}
.fa-map-marked-alt{
    position: relative;
    top: -15px;
    left: 3px;
    font-size: 29px;
}
.fa-address-card{
    position: relative;
    top: -15px;
    left: 3px;
    font-size: 29px;
}
.fa-user{
    position: relative;
    top: -15px;
    left: 3px;
    font-size: 29px;
}
 .fa-user-check{
    position: relative;
    top: -15px;
    left: 3px;
    font-size: 29px;
}